.app {
  background-color: #f9f9f9;
  min-height: 100vh;
}

:root {
    --red-color: #cd5360;
    --sky-blue-color:#286DA8;
    --brown-color:#B37D4E;
    --breeze-blue-color:#438496;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

.homepage-background {
  max-width: 100%
}

.homepage-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.custom-container{
  background-color: #fff;
  padding-top: 20px;
}

.match-container{
  background-color: #fff;
  padding: 15px 30px !important;
  border-style:none solid solid solid;
  border-width:1px;
  border-color:#DDDDDD;
}

.group-container{
  background-color: #fff;
  padding: 15px 30px !important;
  border-style:none solid solid solid;
  border-width:1px;
  border-color:#DDDDDD;
 /* The height will not scale to more tables */
}

.navbar-custom{
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(67,132,150,1));
  border-radius: 0px !important;
  border: 0px;
}

.navbar-collapse-custom{
  position: relative;
}

.nav-custom{
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px){
  .nav-custom {
      position: relative;
  }

  .navbar-brand-custom{
        height: 70px !important;
  }
}

/* Country code text */
.ccodetext{
  padding:5px;
}


.app-header {
  margin:20px auto;
}

.match-cell{
  background-color: #fff;
  padding:15px;
  margin: 5px 0px 5px 0px;
  /*border-radius: 10px;*/
  text-align: center;
  webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
}

#collapseable-panel{
  margin-top:20px;
  border-style:none;
  webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(255,255,255,0);
  box-shadow: 0px 0px 0px 0px rgba(255,255,255,0);
}

/*This is group table properties*/
.group-table{
  background-color: #fff;
  padding:10px;
  margin: 5px 0px 5px 0px;
  /*border-radius: 10px;*/
  text-align: center;
  webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
}

/*This is group cell properties*/
.group-cell{
  background-color: #fff;
  padding:10px;
  margin: 5px 0px 5px 0px;
  /*border-radius: 10px;*/
  text-align: center;
  webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
}

.center-hz{
  text-align: center;
  margin: 10px auto;
}

.selection-menu{

}

.selection-item-select{
  font-weight: bold;
  border-bottom:1px solid var(--red-color) !important;
  text-decoration: underline;
}

.selection-item:hover{
  border-bottom:1px solid var(--red-color) !important;
}

.selection-item{
  box-sizing: border-box;
  background-color: #fff;
  border-bottom:1px solid #fff;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}

.selection-item span{
  display: inline-block;
  margin: 5px;
  color: var(--red-color);

}

.navitem-custom a{
    color: #fff !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
}

.formGroupCustom {
  max-width: 300px;
  margin: auto;
  padding-top: 10%;
}

.formUpdate {
  box-shadow: 1px 1px 25px rgba(10,25,0,0.35);
  border-radius: 5px;
  border: 4px solid rgb(178, 194, 204);
  margin: auto;
  width: 75%;
  padding: 10px;
}

.formInfo{
  box-shadow: 1px 1px 25px rgba(10,25,0,0.35);
  border-radius: 5px;
  border: 4px solid rgb(178, 194, 204);
  margin: auto;
  width: 100%;
}

.upcomingInfo{
  text-align: center;
  padding-bottom: 1.5vh;
  margin-bottom: 1.8vh;
}

.updateHeader{
  padding-bottom: 20px;
}

.horizontalTeam{
  font-size: 16px;
  text-align: center;
  margin: auto;
  padding-left: 20%;
  max-width: 80%;
}

.mapRow{
  text-align: center;
  box-shadow: 1px 1px 25px rgba(0,0,0,0.35);
  padding: 10px 1em;
  margin-top: 10px;
  overflow: hidden;
}

.infoBox{
  border: 0.2px solid gray;
  padding: 4px;
  text-align: center;
}

.markerInfo{
  text-align: justify;
  display: block;
  margin: auto;
  padding: 2px;
  background: white;
  border: 0.8px solid grey;
  width: 100%;
}

.markerInfoGroup:hover{
  background: grey;
}
.markerInfoGroup{
  border-radius: 5px;
}

.result-small-container{
  text-align: center;
  background-color: #fff;
  padding:3px;
  margin:5px !important;
  border-radius: 10px;
}

.small-match-holder{
  margin-top: 15px;
}

.info-heading{
  font-weight: bold;
  font-size: 16px;
}


.vertical-spacing{
  margin-top:20px;
}


/* Start calendar custom */

.react-calendar {
    border: 0px solid #fff !important;
    border-radius: 10px 10px 0 0 ;
    line-height: 1.125em;
}

.react-calendar__tile--active {
    background: #fff !important;
    /*border: 1px solid #cecece !important;*/
    border-radius: 10px;
    color: var(--breeze-blue-color) !important;
    text-decoration: underline ;
    font-weight: bold;
}

button.react-calendar__tile:enabled:hover{
  background: #fff !important;
  text-decoration: underline ;

}

.react-calendar__month-view__days__day--weekend {
    color: var(--red-color) !important;
}

.statstable{
  background-color: #fff;
}

.stats-list{
  list-style-type: none;
}

.score-margin{
  margin-top:10px;
}

.stats-images{
  margin-right:10px;
}

.react-calendar-custom-dot-blue {
  position: absolute;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  background-color: var(--breeze-blue-color);
}

.react-calendar-custom-dot-green {
  position: absolute;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  background-color: var(--brown-color);
}


/* End Calendar custom*/
