.app {
  background-color: #f9f9f9;
  min-height: 100vh;
}

:root {
    --red-color: #cd5360;
    --sky-blue-color:#286DA8;
    --brown-color:#B37D4E;
    --breeze-blue-color:#438496;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

.homepage-background {
  max-width: 100%;
}

.homepage-container {
  margin-top: -20px;
}

.custom-container{
  background-color: #fff;
  padding-top: 20px;
}

.match-container{
  background-color: #fff;
  padding: 15px 30px !important;
  border-style:none solid solid solid;
  border-width:1px;
  border-color:#DDDDDD;
}

.group-container{
  background-color: #fff;
  padding: 15px 30px !important;
  border-style:none solid solid solid;
  border-width:1px;
  border-color:#DDDDDD;
 /* The height will not scale to more tables */
}

.navbar-custom{
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(67,132,150,1));
  border-radius: 0px !important;
  border: 0px;
}

.navbar-collapse-custom{
  position: relative;
}

.nav-custom{
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px){
  .nav-custom {
      position: relative;
  }

  .navbar-brand-custom{
        height: 70px !important;
  }
}

/* Country code text */
.ccodetext{
  padding:5px;
}


.app-header {
  margin:20px auto;
}

.match-cell{
  background-color: #fff;
  padding:15px;
  margin: 5px 0px 5px 0px;
  /*border-radius: 10px;*/
  text-align: center;
  webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  cursor:pointer;
}

#collapseable-panel{
  margin-top:20px;
  border-style:none;
  webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(255,255,255,0);
  box-shadow: 0px 0px 0px 0px rgba(255,255,255,0);
}

/*This is group table properties*/
.group-table{
  background-color: #fff;
  padding:10px;
  margin: 5px 0px 5px 0px;
  /*border-radius: 10px;*/
  text-align: center;
  webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
}

/*This is group cell properties*/
.group-cell{
  background-color: #fff;
  padding:10px;
  margin: 5px 0px 5px 0px;
  /*border-radius: 10px;*/
  text-align: center;
  webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
}

.center-hz{
  text-align: center;
  margin: 10px auto;
}

.selection-menu{

}

.selection-item-select{
  font-weight: bold;
  border-bottom:1px solid var(--red-color) !important;
  text-decoration: underline;
}

.selection-item:hover{
  border-bottom:1px solid var(--red-color) !important;
}

.selection-item{
  box-sizing: border-box;
  background-color: #fff;
  border-bottom:1px solid #fff;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}

.selection-item span{
  display: inline-block;
  margin: 5px;
  color: var(--red-color);

}

.navitem-custom a{
    color: #fff !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
}

.formGroupCustom {
  max-width: 300px;
  margin: auto;
  padding-top: 10%;
}

.formUpdate {
  box-shadow: 1px 1px 25px rgba(0,0,0,0.35);
  border-radius: 5px;
  border: 6px solid rgb(178, 194, 204);

  padding: 2em;
  margin: 3em 10vw auto;
  width: 80%;
  text-align: center;
}

.horizontalTeam{
  display: block;
}

.result-small-container{
  text-align: center;
  background-color: #fff;
  padding:3px;
  margin:5px !important;
  border-radius: 10px;
}

.small-match-holder{
  margin-top: 15px;
}

.info-heading{
  font-weight: bold;
  font-size: 16px;

}
